.schedule {
    min-width: 13.75rem;
    border: 1px #eeeeee solid;
    font-size: 0.75rem;
    padding: .3125rem;
    background-color: #ffffff;
    font-family: "Tahoma";
}

.schedule a,
.schedule span {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: .3125rem 0;
    color: #2086bf;
}

.schedule a:hover {
    background-color: #75c7ee;
    color: #ffffff;
    border-radius: inherit;
}

.schedule .schedule-row {
    margin: 0 0 .1rem;
    width: 100%;
}
.schedule .schedule-row:before,
.schedule .schedule-row:after {
    display: table;
    content: "";
}
.schedule .schedule-row:after {
    clear: both;
}

.schedule .schedule-row>div {
    float: left;
}

.schedule .schedule-row>div>a {
    border: 1px #bcd9e2 solid;
    margin: 0.1em;
    padding: 3rem 0;
}

.schedule .schedule-header>div>a {
    border: 1px transparent solid;
}

.schedule .schedule-header span {
    color: #ffffff;
    padding: 1rem 0;
}

.schedule .schedule-row.schedule-header {
    background-color: #59cde2;
    color: #ffffff;
}

.schedule .prev,
.schedule .next,
.schedule .date,
.schedule .day {
    width: 14.285714285714285%;
}

.schedule .month-title,
.schedule .year-title {
    width: 71.42857142857143%;
}

.schedule .date-title {
    width: 42.857142857142855%;
}

.schedule .active a {
    background-color: #60a917;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.schedule .active a {
    color: #ffffff;
}

.schedule div.date.disabled {
    color: #999999;
    background-color: #eeeeee;
}

.schedule .schedule-row .day a {
    font-weight: 800;
    border: 1px transparent solid;
}

.schedule .year,
.schedule .month {
    width: 25%;
}

.schedule .year a,
.schedule .month a {
    padding: 1.3125rem 0;
}
