.calendar {
    border: 1px #eeeeee solid;
    background-color: #ffffff;
    font-family: Roboto,sans-serif;
    width: 22rem;
}

.calendar .header {
    padding-bottom: 1rem;
    color: #fff;
    text-align: center;
    background-color: #3f51b5;
}

.calendar .header .weekday {
    width: 100%;
    font-size: 1.4rem;
    line-height: 2rem;
    background-color: #303f9f;
}

.calendar .header .month {
    width: 100%;
    padding: 1rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    cursor: pointer;
}

.calendar .header .date {
    width: 100%;
    font-size: 5rem;
    line-height: 4rem;
    cursor: pointer;
}

.calendar .header .year {
    display: inline-block;
    margin-top: 1rem;
    font-size: 1.8rem;
    cursor: pointer;
    opacity: 0.6;
}

.calendar a,
.calendar span {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #2086bf;
}

.calendar a:hover {
    background-color: #75c7ee;
    color: #ffffff;
}

.calendar .calendar-row {
    margin: 0 0 .1rem;
    width: 100%;
}
.calendar .calendar-row:before,
.calendar .calendar-row:after {
    display: table;
    content: "";
}
.calendar .calendar-row:after {
    clear: both;
}

.calendar .calendar-row>div {
    float: left;
}

.calendar .calendar-row a,
.calendar .calendar-row span {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    color: #757575;
    text-align: center;
}

.calendar .calendar-header a,
.calendar .calendar-header span {
    opacity: .7;
    border-radius: 0;
    font-weight: 500;
}

.calendar .month-title a,
.calendar .year-title a,
.calendar .year-title span {
    width: 14rem;
}

.calendar .date-title a {
    width: 9rem;
}

.calendar .day span {
    font-weight: 800;
    border: 1px transparent solid;
}

.calendar .active a {
    background-color: #60a917;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    color: #ffffff;
}

.calendar .disabled a,
.calendar .disabled a:hover {
    color: #999999;
    background-color: #eeeeee;
    cursor: not-allowed;
}

.calendar .year a,
.calendar .month a {
    width: 10rem;
}
